**/.classpath
**/.factorypath
**/.project
**/.settings
**/.checkstyle
**/.fbExcludeFilterFile
**/dependency-reduced-pom.xml
**/orko.mv.db
**/orko.trace.db
**/*.versionsBackup
**/*.releaseBackup
**/node_modules
/release.properties
**/my-config.yml
/orko-app/src/main/resources/assets
/orko-end-to-end-testing/cypress/**/*.mp4
/orko-end-to-end-testing/target
/orko-end-to-end-testing/node
/orko-end-to-end-testing/app.log
/orko-end-to-end-testing/cypress/screenshots/**/*
/orko-semantic/dist/**
/orko-semantic/target/**
/orko-semantic/node/**
/orko-ui/.settings
/orko-ui/node
/target/
/target/orko-parent-0.0.1-SNAPSHOT-shaded.pom