**/.checkstyle
**/.classpath
**/.factorypath
**/.fbExcludeFilterFile
**/.idea
**/.project
**/.settings
**/dependency-reduced-pom.xml
**/my-config.yml
**/node_modules
**/orko.mv.db
**/orko.trace.db
**/*.iml
**/*.versionsBackup
**/*.releaseBackup
/release.properties
/target/orko-parent-0.0.1-SNAPSHOT-shaded.pom
/target/