/my-config.yml
/oco-worker/my-config.yml
/oco-web/my-config.yml
/oco-api/.classpath
/oco-api/.factorypath
/oco-api/.project
/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/oco-api/.settings/org.eclipse.core.resources.prefs
/oco-api/.settings/org.eclipse.jdt.apt.core.prefs
/oco-api/.settings/org.eclipse.jdt.core.prefs
/oco-api/.settings/org.eclipse.m2e.core.prefs
/oco-web/.classpath
/oco-web/.factorypath
/oco-web/.project
/oco-web/.settings/org.eclipse.core.resources.prefs
/oco-web/.settings/org.eclipse.jdt.apt.core.prefs
/oco-web/.settings/org.eclipse.jdt.core.prefs
/oco-web/.settings/org.eclipse.m2e.core.prefs
/oco-worker/.classpath
/oco-worker/.factorypath
/oco-worker/.project
/oco-worker/.settings/org.eclipse.core.resources.prefs
/oco-worker/.settings/org.eclipse.jdt.apt.core.prefs
/oco-worker/.settings/org.eclipse.jdt.core.prefs
/oco-worker/.settings/org.eclipse.m2e.core.prefs
